db.env
scrapyd.env
streetscrape/scrapy.cfg
__pycache__/
venv/
node_modules/
*.csv
streetscrape/gurufocus_unscrapable.json
scripts/
streetscrape/scrapy.cfg
build/
project.egg-info/
dbs/
eggs/
logs/
.vscode/
setup.py
twistid.pid
streetscrape/scrapyd.conf
